<%# errors partial %>

<p style="color: red">
    <% if @article.errors.any? %> 
        <b>The article could not be created because of the following errors: </b>
        <ul>
            <% @article.errors.full_messages.each do |err_msg| %>
                <li style="color: red"><%= err_msg %></li>
            <% end %>
        </ul>
    <% end %>
</p>