<h1 class="text-center mt-4">This is the CREATE page</h1>

<%= render 'shared/errors' %>  <!-- calls the _errors.html.erb text_field -->

<%= render 'form' %>    <!-- calls the _form.html.erb text_field -->