<h1 class="text-center mt-4">EDIT Account</h1>

<%= render 'shared/errors', obj: @user %>  <!-- calls the _errors.html.erb text_field -->

<%= render 'userform' %>    <!-- calls the _form.html.erb text_field -->