<h1 class="text-center mt-4">This is the USERS LISTING page</h1>

<%= render 'user' %>

<div class="text-center mt-4">
    <%= link_to 'Back', :back, class: "text-center btn btn-outline-danger btn-lg" %>
</div>