<h1 class="text-center mt-4">This is the ABOUT page</h1>

<p class="text-center mt-4">
    <%= link_to 'Home', root_path, class: "btn btn-info btn-lg" %> <%= link_to 'Article Listings', articles_path, class: "btn btn-success btn-lg" %>
</p>